<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B.A. in Computer Science</h1>
            <span>Iowa State University</span>
            <span><address>Ames, IA</address><time>1996 to 1998</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>B.A. in Psychology</h1>
            <span>Iowa State University</span>
            <span><address>Ames, IA</address><time>1987 to 1991</time></span>
        </header>
    </article>
</section>
