<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Wells Fargo Bank</h1>
            <span><address>Des Moines, Iowa</address></span>
        </header>
        <header>
            <h3>Web Developer</h3>
            <span><time>May 2014 to Present</time></span>
        </header>
        <pre>
I am a Team Lead for a few different internal applications. We have had up to 20 developers at one time on my team to support the applications. Responsibilities include:
* Solution Design
* Requirements Gathering
* Peer Review
* Unit testing and Regression testing
* Application life cycle
* Mentoring of team developers
* On-call support

Our team is responsible tracking and ordering software licenses. Also, we track third party vendors and engagements. As a team we maintain about 5 different applications. We use Agile practices such as daily SCRUM calls, Sprints, Sprint retrospectives and Backlog refinement to manage our backlog of work.

Used: MVC5, .NET 4.0, EF6, Kendo UI, Kendo Grid, Bootstrap, C#, jQuery, Javascript, XML, SQL, Web services, Web API, JSON, Azure, MS SQL Server, SQL Server Reports, IIS, Windows Server, Visual Studio, TFS, Git and Github as well as Apigee and Service Now.
        </pre>
        <header>
            <h3>Application Systems Engineer</h3>
            <span><time>Mar 2007 to May 2014 - 7 yrs 3 mos</time></span>
        </header>
        <pre>
I am a Team Lead for two different internal applications. There are about 5 developers on my team which support the applications. Responsibilities include:
* Solution Design
* Requirements Gathering
* Peer Review
* Unit testing and Regression testing
* Application life cycle
* Mentoring of team developers
* On-call support

Our team is responsible for monitoring the status of internal applications and servers. As a team we maintain about 30 different applications.

Used: ASP.NET, C#, jQuery, Java Script, XML, SQL, MS SQL Server, SQL Server Reports, IIS, Windows Server, Visual Studio, TFS
        </pre>
    </article>
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <h3>Project InVision International</h3>
            <span><address>Des Moines, Iowa</address><time>Oct 2005 to Sep 2006 - 1 yr</time></span>
        </header>
        <pre>
* Debugged and maintained multi tiered Project Management application.
* Produced builds for Acceptance testing and Quality Assurance testing to enable management of the software lifecycle.
* Converted sections of online Project Management application from ASP to ASP.Net.

Used: VB, SQL, SQL Server, VB.NET and Crystal Reports
        </pre>
    </article>
    <article>
        <header>
            <h1>Consultant</h1>
            <h3>Net-Integrated Consulting</h3>
            <span><address>West Des Moines, Iowa</address><time>Feb 2005 to Oct 2005 - 9 mos</time></span>
        </header>
        <pre>
* DSI Systems Inc. - Urbandale, Iowa
** Supported and maintained the Great Plains application on 17 Citrix servers to assist the 31 warehouses distributed across the United States.
** Created and customized Visual Basic forms to help users conform to existing business rules.

Used: VB, SQL, SQL Server, VB.NET and SQL Server Reports

* Wells Fargo Mortgage - West Des Moines, Iowa
** Designed MS Access applications to track and report Appraisal Compliance.
** Worked as a part of a team to complete phase 2 of the Appraisal Compliance project and to deploy the MS Access applications.

Used: MS Access
        </pre>
    </article>
    <article>
        <header>
            <h1>Directory of Technology</h1>
            <h3>Datavision Resources</h3>
            <span><address>Carlisle, Iowa</address><time>Jul 2000 to Jan 2005 - 4 yrs 7 mos</time></span>
        </header>
        <pre>
* Planning and organizing the development of new projects.
* Designing, writing, testing and deploying proprietary software applications and systems ranging from Microsoft Server service applications to data analysis tools to web applications for the purpose of presenting and reporting analytical results to the client.
* Troubleshooting and analyzing Microsoft systems and networking problems.
* Designing and maintaining client databases using Microsoft SQL Server.
* Designed a series of applications used to present, manipulate, capture and index faxed
and scanned images.

Used: ASP.NET, ASP, Visual Basic, VB Script, Java Script, XML, COM+, Perl, PHP, SQL, MS SQL Server, SQL Server Reports, Sybase, FOIP and Visual C++
        </pre>
    </article>
    <article>
        <header>
            <h1>Application Engineer</h1>
            <h3>Red 5 Interactive</h3>
            <span><address>Des Moines, Iowa</address><time>Dec 1998 to Jul 2000 - 1yr 8 mos</time></span>
        </header>
        <pre> 
* Developing web applications written in C/C++ and ASP languages.
* Enabling corporate web sites for million dollar e-commerce solutions.
* Designing new relational databases using MS SQL Server, Oracle and MySQL.
* Writing custom pc applications that integrate the internet and the desktop using Visual C++ and MFC.
* Planning and organizing the architecture of web sites for ease of use and maintainability.
* Providing time estimates of work to be completed for clients.
* Responsible for keeping projects within the time estimates and scope of work.

Used: C++, ASP, Java Script, XML, SQL, MySql, MS SQL Server, Oracle and MS Access
</pre>
    </article>
</section>
