<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;
            <em>C/C++/ C#</em>, <em>ASP/ASP.Net</em>, <em>MVC</em>, <em>SQL</em>, <em>JSON</em>, <em>jQuery</em>,  &amp; <em>Javascript</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;
            <em>TFS</em>, <em>Web API</em>, <em>Web Services</em>, <em>HTML</em>, <em>CSS</em>, <em>XML</em> &amp; <em>EF</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;
            <em>Kendo</em>, <em>MS SQL Server</em>, <em>TFS pipelines for CI/CD</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;
            <em>Java</em>, <em>MS Access</em>, <em>Oracle</em>, <em>VB</em>, <em>PHP</em> &amp; <em>Objective-C</em>
        </p>
    </article>
</section>